#sidebar{
background-color:#ffffff;
}

body.scrolled #award{
    width:2%;
    left:160px;
}
#award{
    width:3%;
    position:absolute;
    top:0px;
    left:200px;
}
@media (max-width: 768px){
    #award{
       height:44px; 
       width:23px;
    }
}
