li.active {
  cursor: wait !important;
}

a.active {
  text-decoration: underline;
  cursor: wait;
}

.infoboxaction.active {
  cursor: wait;
  background-color: #afafaf;
}

.infoboxaction {
  background-color: #171717;
  color: white;
  cursor: pointer;
  line-height: 10pt;
  text-align: center;
  padding: 5px;
}

#infobox {
  background-color: #efefef;
  padding: 5px;
  text-align: center;
  width: 90%;
}

#infoboxall {
  margin-top: 5px;
}

#photobox {
  font-size: 7pt;
  background-color: #afafaf;
  padding-left: 3pt;
  padding-right: 2pt;
}

.paginate-current {
  font-weight: bold;
  color: white;
  background-color: #171717;
  padding: 2px;
}

.shadow {
  float: left;
  margin: 10px 6px 6px 6px;
}

.shadow .s2,
.shadow .s3,
.shadow .s4 {
  position: relative;
  left: -1px;
  top: -1px;
}

.shadow .s1 {
  background: #F1F0F1;
}

.shadow .s2 {
  background: #DBDADB;
}

.shadow .s3 {
  background: #B8B6B8;
}

.shadow .s4 {
  background: #ffffff;
  border: 1px solid #848284;
}

.year {
  text-align: center;
  clear: both;
}
