	<article class="entry style-media media type-post">
							<div class="media-body">

                {% if article.images.all %}
                        {% with article.images.all.0 as img %}
                        {% if article.image_centric %}
                        <figure class="media-object pull-right entry-thumbnail hidden-xs">
                            <a class="embeddable" href="/{{ article.date|date:"Y/m" }}/{{ article.slug }}">
                                <img class="imgsnippet" alt="{{ img.slug }}" src="{{ img.article_size }}" width="230" height="230">
                            </a>
                        </figure>
                        {% else %}
                       	<figure class="media-object pull-right entry-thumbnail hidden-xs">
                            <a class="embeddable" href="/{{ article.date|date:"Y/m" }}/{{ article.slug }}"><img alt="{{ img.slug }}" style="float:right;padding-left:1em;margin-top:-1em" src="{{ img.thumbnail_size }}"></a>
                        </figure>
                        {% endif %}
                    {% endwith %}
                      {% endif %}


								<header class="entry-header">
									<h3 class="entry-title">
										<a href="single.html" rel="bookmark">{% include "articlelink.html" %}</a>
									</h3>

									<div class="entry-meta">
										<span class="author">by <a href="blog.html"></a>{% with article.authors.all as authors %}{% include "authorlinks.html" %}{% endwith %}</span>
										<span class="entry-date">on <time datetime="2013-07-04T23:26:34+00:00">{{ article.date|date:"F d, Y" }}</time></span>
										<span class="category">In {% with article.tags.all as tags %}{% include "taglinks.html" %}{% endwith %}</span>
									</div>
								</header>

								<p>
                      {{ article.auto_snippet }}
                      <br>
                    <a href="/{{ article.date|date:"Y/m" }}/{{ article.slug }}" class="embeddable more-link">Continue Reading<i class="icon icon-long-arrow-right"></i></a>
								</p>
            </div>
						</article>

