			<div class="section row entries bg-primary section-no-margin-bottom" id="banner">

          {% for doc in current_issue.pdf_set.all|slice:"1" %}
				<article class="entry style-grid style-hero hero-sm-largest type-post col-sm-12 col-md-6 colheight-sm-1 colheight-md-2 colheight-lg-2 colheight-xl-2">
					
					<div class="ribbon ribbon-pulled ribbon-small ribbon-highlight">
						<a href="/archive/current">Front Page</a>
					</div>

					<figure class="entry-thumbnail">
              <a href="/archive/current" class="overlay overlay-primary"></a>
						<!-- to disable lazy loading, remove data-src and data-src-retina -->
            <img class="issue_thumb_img" src="{{ doc.calculate_mini_url }}" data-src="{{ doc.calculate_mini_url }}" data-src-retina="{{ doc.calculate_mini_url }}" width="680" height="452" alt="">
						<!--fallback for no javascript browsers-->
						<noscript>
							<img src="{{ doc.calculate_mini_url }}" alt="">
						</noscript>
					</figure>

				</article>
        {% endfor %}


				<article class="entry style-grid style-hero type-post col-md-6 col-lg-3 colheight-sm-1">
					
					<div class="ribbon ribbon-pulled ribbon-small ribbon-highlight">
						<a href="/tag/news/1">News</a>
					</div>

					<header class="entry-header">
						<h3 class="entry-title"><a href="/2013/10/teaching-their-moves">Teaching Their Moves: Westview Dance Troupe hosted a dance clinic for kids ages 5-13</a> </h3>
						<div class="entry-meta">
							<span class="entry-date"><a href="/2013/10/teaching-their-moves"><time datetime="2013-07-04T23:26:34+00:00">October 25, 2013</time></a></span>
							<span class="entry-author"> by <a href="/author/giovanna-zavala/1">Giovanna Zavala</a></span>
						</div>
					</header>
					
					<figure class="entry-thumbnail">

            <a href="/2013/10/teaching-their-moves" class="overlay overlay-primary"></a>

						<!-- to disable lazy loading, remove data-src and data-src-retina -->
            <img src="{{ MEDIA_URL }}cache/image_thumbs/IMG_9749@530x2048.jpg" data-src="{{ MEDIA_URL }}cache/image_thumbs/IMG_9749@530x2048.jpg" data-src-retina="{{ MEDIA_URL }}cache/image_thumbs/IMG_9749@530x2048.jpg" width="480" height="280" alt="">

						<!--fallback for no javascript browsers-->
						<noscript>
							<img src="{{ MEDIA_URL }}cache/image_thumbs/IMG_9747@530x2048.jpg" alt="">
						</noscript>

					</figure>

				</article>

				<article class="entry style-grid style-hero type-post col-md-6 col-lg-3 colheight-sm-1">
					
					<div class="ribbon ribbon-pulled ribbon-small ribbon-highlight">
						<a href="/tag/sports">Sports</a>
					</div>

					<header class="entry-header">
						<h3 class="entry-title"><a href="/2013/10/good-transitions-cro">Good transitions to cross country from track</a> </h3>
						<div class="entry-meta">
							<span class="entry-date"><a href="/2013/10/good-transitions-cro"><time datetime="2013-07-04T23:26:34+00:00">October 25, 2013</time></a></span>
							<span class="entry-author"> by <a href="/author/chris-rogers-spatuzzi/1">Chris Rogers-Spatuzzi</a></span>
						</div>
					</header>
					
					<figure class="entry-thumbnail">

						<a href="/2013/10/good-transitions-cro" class="overlay overlay-primary"></a>

						<!-- to disable lazy loading, remove data-src and data-src-retina -->
            <img src="{{ MEDIA_URL }}cache/image_thumbs/IMG_9947@530x2048.jpg" data-src="{{ MEDIA_URL }}cache/image_thumbs/IMG_9947@530x2048.jpg" data-src-retina="{{ MEDIA_URL }}cache/image_thumbs/IMG_9947@530x2048.jpg" width="680" height="452" alt="">

						<!--fallback for no javascript browsers-->
						<noscript>
                <img src="{{ MEDIA_URL }}cache/image_thumbs/IMG_9947@530x2048.jpg" alt="">
						</noscript>

					</figure>

				</article>

				<article class="entry style-grid style-hero type-post col-md-6 col-lg-3 colheight-sm-1">
					
					<div class="ribbon ribbon-pulled ribbon-small ribbon-highlight">
						<a href="/tag/opinions">Opinions</a>
					</div>

					<header class="entry-header">
						<h3 class="entry-title"><a href="/2013/10/hackathons-recognize">Hackathons recognize talent, promote programming</a> </h3>
						<div class="entry-meta">
							<span class="entry-date"><a href="blog.html"><time datetime="2013-07-04T23:26:34+00:00">October 25, 2013</time></a></span>
							<span class="entry-author"> by <a href="/author/grace-jeng/1">Grace Jeng</a></span>
						</div>
					</header>
					
					<figure class="entry-thumbnail">

            <a href="/2013/10/hackathons-recognize" class="overlay overlay-primary"></a>

						<!-- to disable lazy loading, remove data-src and data-src-retina -->
            <img src="{{ MEDIA_URL }}cache/image_thumbs/hackathon_cleaned@255x2048.jpg" data-src="{{ MEDIA_URL }}cache/image_thumbs/hackathon_cleaned@255x2048.jpg" data-src-retina="{{ MEDIA_URL }}cache/image_thumbs/hackathon_cleaned@255x2048.jpg" width="480" height="280" alt="">
       
						<!--fallback for no javascript browsers-->
						<noscript>
                <img src="{{ MEDIA_URL }}cache/image_thumbs/hackathon_cleaned@255x2048.jpg" alt="">
						</noscript>

					</figure>

				</article>

				<article class="entry style-grid style-hero type-post col-md-6 col-lg-3 colheight-sm-1">
					
					<div class="ribbon ribbon-pulled ribbon-small ribbon-highlight">
						<a href="/tag/features/1">Features</a>
					</div>

					<header class="entry-header">
						<h3 class="entry-title"><a href="/2013/10/groome-simulates-mis">Groome simulates mission at space camp</a> </h3>
						<div class="entry-meta">
							<span class="entry-date"><a href="/2013/10/groome-simulates-mis"><time datetime="2013-07-04T23:26:34+00:00">October 04, 2013</time></a></span>
							<span class="entry-author"> by <a href="/authors/karinne-sandstrom">Karinne Sandstrom</a></span>
						</div>
					</header>
					
					<figure class="entry-thumbnail">

            <a href="/2013/10/groome-simulates-mis" class="overlay overlay-primary"></a>

						<!-- to disable lazy loading, remove data-src and data-src-retina -->
            <img src="{{ MEDIA_URL }}cache/image_thumbs/Liberty_Bell_Week_1_Fri__Sat_253@255x2048.jpg" data-src="{{ MEDIA_URL }}cache/image_thumbs/Liberty_Bell_Week_1_Fri__Sat_253@255x2048.jpg" data-src-retina="{{ MEDIA_URL }}cache/image_thumbs/Liberty_Bell_Week_1_Fri__Sat_253@255x2048.jpg" width="480" height="280" alt="">
        </a>
						<!--fallback for no javascript browsers-->
						<noscript>
							<img src="{{ MEDIA_URL }}cache/image_thumbs/Liberty_Bell_Week_1_Fri__Sat_253@255x2048.jpg" alt="">
						</noscript>

					</figure>

				</article>

			</div>


