<div class="sidebar col-md-4 col-lg-4 col-xl-3 hidden-xs">
              <aside class="widget hidden-phone">
                <h3 class="widget-title ribbon"><span>Tags</span></h3>
                <div class="tagcloud">
                  {% for type, tags in types %}
                        {% for tag in tags %}
                          <a class="not_embeddable" href="/tag/{{ tag.slug }}/1">
                            {{ tag.name }}
                          </a></li>
                        {% endfor %}
                  {% endfor %}
                </div>
              </aside><!--/.widget-->
              <aside class="widget">
                <h3 class="widget-title ribbon"><span>Current Issue</span></h3>
		<div style="height: 250px; overflow: hidden;">
		<a href="/archive/current">
		<br>
		<img style="width: 100%" src="{{ current_issue.calculate_sidebar_url }}">
		</a>
		</div>
              </aside><!--/.widget-->
						<aside class="widget">

							<h2 class="widget-title ribbon"><span>Popular Clubs</span></h2>

							<ul class="entries">
								<li class="entry style-score-widget">
									<div class="score-label entry-title"><a href="">Catalyst for Success</a></div>
									<div class="progress">
										<div class="progress-bar" role="progressbar" aria-valuenow="641" aria-valuemin="0" aria-valuemax="1000" style="width: 64%;">
											<span>Score:&nbsp;641</span>
										</div>
									</div>
								</li>
								<li class="entry style-score-widget">
									<div class="score-label entry-title"><a href="">Robotics</a></div>
									<div class="progress">
										<div class="progress-bar" role="progressbar" aria-valuenow="352" aria-valuemin="0" aria-valuemax="1000" style="width: 35%;">
											<span>Score:&nbsp;352</span>
										</div>
									</div>
								</li>
								<li class="entry style-score-widget">
									<div class="score-label entry-title"><a href="">Key Club</a></div>
									<div class="progress">
										<div class="progress-bar" role="progressbar" aria-valuenow="41" aria-valuemin="0" aria-valuemax="1000" style="width: 35%;">
											<span>Score:&nbsp;41</span>
										</div>
									</div>
								</li>

                <li class="entry style-score-widget">
									<div class="score-label entry-title"><a href="">Interact</a></div>
									<div class="progress">
										<div class="progress-bar" role="progressbar" aria-valuenow="41" aria-valuemin="0" aria-valuemax="1000" style="width: 29%;">
											<span>Score:&nbsp;100</span>
										</div>
									</div>
								</li>

                <li class="entry style-score-widget">
									<div class="score-label entry-title"><a href="">Chess</a></div>
									<div class="progress">
										<div class="progress-bar" role="progressbar" aria-valuenow="41" aria-valuemin="0" aria-valuemax="1000" style="width: 53%;">
											<span>Score:&nbsp;150</span>
										</div>
									</div>
								</li>

														</ul>

						</aside>

			<!--/.widget-->
								</div><!--/.sidebar col-md-4 col-lg-4 col-xl-3-->

			</div><!--/#content-->


